<div class="add-buttons">
  <form action="/memos/new" method="get" name="index">
  <input type="submit" value="追加" class="button">
  </form>
</div>
<div>
  <ul>
    <% @memos.each do |memo| %>
    <li><a href="/memos/<%= memo["id"] %>"><%= h(memo["title"]) %></a></li>
    <% end %>
  </ul>
</div>
