<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/memo.css">
    <title>メモアプリ</title>
</head>
<body>
  <header>
    <h1><a href="/memos" class="title">メモアプリ</a></h1>
  </header>
  <div class="memo">
    <%= yield %>
  </div>
  <footer>
  </footer>
</body>
</html>
